/* ------ all ------ */

* {
    box-sizing: border-box;
}

/* ------ body ------ */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

/* ------ Header Start ------ */

}
header {
    width: 100%;
    background-color: rgba(23, 23, 23, .300);
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 10;
}
header .head-section {
    display: grid;
    place-items: center;
}
header a {
    text-decoration: none;
    margin-right: 50px;
    letter-spacing: 1px;
    color: black;
}
a:hover {
    color: rgb(65, 61, 61);
}

/* ------ Header End ------ */

/* ------ Main  Start ------ */

.banner-section {
    width: 100%;
    height: 100vh;
    background-image: url("./images/home-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
.main-content h1 {
    margin: 0;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.welcome {
    font-family: cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div .main-arrow a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .main-content h1{
        font-size: 26px;
    }
    header a {
        margin-right: 15px;
    }
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------ Main  End ------ */

/* ------ About  Start ------ */

#about {
    display: grid;
    justify-items: center;
    font-family: Georgia,'Times New Roman', Times, serif;
}
#about span {
    font-size: 45px;
}
.about {
    background-color: rgba(65, 61, 61, .300);
}
.left-section {
    margin-bottom: 2em;
    width: 606px;
    height: 450px;
    background-image: url("./images/black&white\ me.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

/* ------ About  End ------ */

/* ------ services  Start ------ */
#services {
    display: grid;
    justify-items: center;
    font-family: Georgia,'Times New Roman', Times, serif;
}
#services span {
    font-size: 45px;
}
.services {
    width: 100%;
    height: 70vh;
    background-image: url("./images/services-image.jpg");
    background-position: top;
    background-size: cover;

    background-repeat: no-repeat;
}
.icons {
    width: 30px;
    height: 30px;
}

/* ------ Services  End ------ */

/* ------ Skills  Start ------ */

#skills {
    display: grid;
    justify-items: center;
    font-family: Georgia,'Times New Roman', Times, serif;
}
#skills span {
    font-size: 45px;
}
.skills {
    background-color: rgba(65, 61, 61, .300);
}
.box-1, .box-2, .box-3 {
    width: 400px;
    height: 24px;
    background-color: #fff;
    border: solid 2px rgb(201, 166, 166);
}
.subbox-1 {
    width: 380px;
    height: 20px;
    background-color: #131212;
}
.subbox-2 {
    width: 340px;
    height: 20px;
    background-color: #131212;
}
.subbox-3 {
    width: 300px;
    height: 20px;
    background-color: #131212;
}

/* ------ Skills  End ------ */

